body{
	background-color: white;
	font-family: sans-serif;
}

h2{
	/*padding: 10px;*/
	margin-bottom: 30px;
	font-size: 30px;
}
.header{
	background-color: white;
	/*border: black 1px solid;*/
	text-indent: 10px;
	border-radius: 5px;
	text-align: center;
	display: flex;
	justify-content: space-between; 
}

#navBar{
	display: flex;
	background-color: white;
	margin: 10px 10px 10px 10px;
	padding: 10px;
	height: 40px;
	justify-content: space-between; 
	text-shadow: #cccccc 1px 1px 1px;
	/*animation-name: colorChange;
 	animation-duration: 4s;*/
	transition-duration: 0.4s;

}
#navBar:hover{
	background-color: #e60000;
	color: white;
}

#content{
	background-color: white;
	margin-left: 10%;
/*	margin-right: 10%;*/
	padding: 2%;
}

a{
	color: black;
	text-decoration: unset;
}


#imgMain{
	width: 90%;
}

.highlight{

	justify-content: center;
	/*text-shadow: grey 1px 1px 2px;*/
	font-family: Arial;
}

.newsContent{
	display: flex;
	justify-content: space-between;
}
.news{
	padding: 10px;
}

.newsTitle{
	font-size: 20px;
	font-weight: bold;
}
.newsPic{
	width: 80%;
	padding: 10px;
}
h2{
	padding: 10px;

}
#tutorial{
	display: flex;
	justify-content: space-between;
}

.tutHighlight{

	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	font-size: 20px;

}

.imgHL{
	width: 80%;
	margin-left: 8px;
	margin-right: 5px;
	margin-top: 5%;
}

#footer{
	background-color: rgb(100, 100, 100);
	padding-top: 30px;
	margin-top:
	justify-content:space-between; 
}

#social{
	display: flex;
	margin-left: 20px;
	margin-top: 20px;
	color: white;
	font-family: 'Segoe Ui';
	width: 10%;
}

.socialIcon{
	width: 40%;
}

button{
	color: blue;
	background-color: rgb(80, 90, 200);
	border: rgb(80, 90, 200) 1px solid;
	border-radius: 6px;
}

input{
	size: 100%;
}


@keyframes colorChange {
  from {color: black;}
  to {color: red;}
}

.contactForm{
	padding: 16px;
	display: inline-block;
}

.about{
	display: flex;
	justify-content: center;
	padding: 20px;
}
.imgProfile{
	padding: 10px;
	width: 40%;
}
input[type=text], input[type=password] {
  width: 100%;
}